@model GuestbookSystem.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Css/CommonStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <title>Register</title>
</head>
<body>
    <div class="header">
        <div class="nav">
            <ul>
                <li>留言本</li>
                <li>@Html.ActionLink("首页", "../Home/Index")</li>
            </ul>
        </div>
    </div>
    <h2 style="text-align:center;margin-top:30px;">用户注册</h2>
    <div class="container body-content">
        <form action="/Account/Register" method="post">
            <div class="form-group" style="width:275px;margin: 0 auto;">
                <label for="exampleInputEmail1">用户名💂</label>
                @Html.EditorFor(g => g.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(g => g.UserName)
            </div>
            <div class="form-group" style="width:275px;margin: 0 auto;">
                <label for="exampleInputPassword1">密码🔒</label>
                @Html.EditorFor(g => g.Password, new { htmlAttributes = new { @type = "password", @class = "form-control" } })
                @Html.ValidationMessageFor(a => a.Password)
            </div>
            <div class="form-group" style="width:275px;margin: 0 auto;">
                <label for="exampleInputPassword1">邮箱💌</label>
                @Html.EditorFor(g => g.AuthorEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(g => g.AuthorEmail)
            </div>
            <div style="width:275px;margin: 20px auto;">
                <button type="submit" class="btn btn-success" style="margin:0 125px 0 0;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>注册</button>
                <button type="reset" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>清空</button>
                </div>
        </form>
        </div>
</body>
</html>
